<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RM.Properties.Settings.agendaConnectionString" connectionString="server=10.66.121.42;user id=secac;password=secac;database=agenda"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>